body{
    background-color: pink;
}

header{
    font-family: cursive;
    font-size:xx-large;
    text-shadow: 2px 2px 4px fuchsia;
    background-color: beige;
}

.about-container{
    display: flex;
    align-items: center;
}

.p{
    background-color: white;
}